In [6]:


import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
# Load the CSV file
dialysisdf = pd.read_csv('/Users/adelamar_ifds/mock-dialysis/davita_dialysis.csv')

# Preview the data
print(dialysisdf.head())

                                                                                                                                             davita_dialysis_dashboard_data_updated
Patient_Name        Gender Date_of_Birth Dialysis_Date Facility                 CPT_Code Payer_Type        Missed_Appointment Infection_Rate                             Patient ID
Andrew Bernard      Male   1952-01-15    2025-02-26    Brooklyn Dialysis Center 90945    Medicaid          0                  0.21                                            82869
Daniel Woodard      Male   2000-12-22    2025-04-11    Staten Island Nephrology 90935    Uninsured         0                  0.04                                            82105
Stephanie Underwood Male   1937-01-19    2025-05-15    Harlem Renal Care        90999    Medicare          0                  1.07                                            42748
Laura Vance         Female 1940-04-30    2025-04-08    Harlem Renal Care        90947    Private Insurance 0                  1.14                                            22415

In [7]:
dialysisdf.isnull().sum()

davita_dialysis_dashboard_data_updated    0
dtype: int64

In [8]:
dialysisdf.isna().sum()

davita_dialysis_dashboard_data_updated    0
dtype: int64

In [9]:
dialysisdf.describe()

       davita_dialysis_dashboard_data_updated
count                                     501
unique                                    501
top                                Patient ID
freq                                        1

In [10]:
dialysisdf.corr

<bound method DataFrame.corr of                                                                                                                                              davita_dialysis_dashboard_data_updated
Patient_Name        Gender Date_of_Birth Dialysis_Date Facility                 CPT_Code Payer_Type        Missed_Appointment Infection_Rate                             Patient ID
Andrew Bernard      Male   1952-01-15    2025-02-26    Brooklyn Dialysis Center 90945    Medicaid          0                  0.21                                            82869
Daniel Woodard      Male   2000-12-22    2025-04-11    Staten Island Nephrology 90935    Uninsured         0                  0.04                                            82105
Stephanie Underwood Male   1937-01-19    2025-05-15    Harlem Renal Care        90999    Medicare          0                  1.07                                            42748
Laura Vance         Female 1940-04-30    2025-04-08    Harlem Renal Care        90947    Private Insurance 0                  1.14                                            22415
...                                                                                                                                                                             ...
Patricia Brown      Female 1980-09-29    2025-07-27    Bronx Dialysis Group     90945    Uninsured         0                  0.8                                             86923
Gregory Vargas      Male   1981-11-03    2025-05-27    Bronx Dialysis Group     90945    Uninsured         1                  1.28                                            82264
James Jones         Male   1940-03-12    2025-04-15    Harlem Renal Care        90945    Medicare          0                  1.25                                            55843
Daniel Brown        Female 1962-01-13    2025-04-03    Harlem Renal Care        90935    Medicaid          1                  0.59                                            55121
Jessica Martinez    Male   1955-07-15    2025-04-22    Queens Kidney Institute  90945    Medicaid          0                  1.43                                            31432

[501 rows x 1 columns]>